/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(3, 139, 55);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(3, 139, 55,.5);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}